// base button styles
// ==================================================/
%btn--transparent {
  background-color: transparent;
}

%btn_cursor--pointer {
  cursor: pointer;
}

button,
input [type="button"],
[type="reset"],
[type="submit"] {
  // see vendor/normalize.scss for other properties
  @extend %mp--0;
}

.btn {
  @extend %caudex--regular;
  @extend %mp--0;
  display: inline-block;
  font-size: 100%; 
  line-height: 1.15;  
}

.btn--md {
  border-radius: 6px;
  height: 30px;

}

.btn--lg {
  border-radius: 6px;
  height: 40px;
}

// themes
// ==================================================/
.btn_modal_close {
  @extend %btn_cursor--pointer;
  @extend %display--inline-block;
  @extend %pos--absolute;
  @extend %padd--4;
  // @extend %lrbg1;
  background-color: #4d3d29;
  @extend %border--primary;

  top: -5px;
  right: -5px;
  height: 46px;
  width: 46px;
  border-radius: 50%;

  svg {
    fill: #fff;
  }
  
  &:hover {
    background-color: #c3be7a;
    svg {
      fill: #8c6239;  
    }
  }
}

// modal prev/next
.btn_modal_prevnext {
  @extend %padd--4;
  @extend %lrbg2;
  @extend %font_color--primary;
  @extend %border--primary;
  @extend %btn_cursor--pointer;
  @extend %display--inline-block;

  > svg {
    @extend %display--inline-block;
    vertical-align: text-bottom;
    height: 18px;
    fill: #415e01;
  }

  &:hover {
    background-color: #4d3d29; 
    color: #fff;

    > svg {
      fill: #fff;
    }
  }
}