body, .btn, #galleryContainer #ajaxbox {
  font-family: "Caudex", serif; }

h1, h2 {
  font-family: "Cinzel", serif; }

h1, h2, h5 {
  font-weight: 500; }

body {
  background-color: #efe6bb; }

.panel_container {
  background-color: #c3be7a; }

.btn1-02, .carousel1_04_pagebuttons, .carousel1-04_description, .bs4modal-content, .breadcrumb, .panel, .jspager1 .btn {
  background-color: #fdffdf; }

.artists_preview_box,
.news_preview_box, .gallery_preview_box, .article_photo--left, #galleryContainer #ajaxbox, .jspager1 {
  background-color: #fff; }

.btn1-02, .breadcrumb a, h3, .news_preview_box date, .gallery_preview_box a, .artists_preview_box a, .bonsai_species a,
.bonsai_value a, #galleryContainer #ajaxbox, .jspager1 .btn {
  color: #8c6239; }

.breadcrumb, h1, h2, .green,
.gallery_preview_box a:hover,
.artists_preview_box a:hover, .news_preview_box h4,
.artists_preview_box h4 > a, p.articles::first-letter, .bonsai_species h4,
.bonsai_value h4, .jspager1 label, .jspager1 p {
  color: #415e01; }

.btn1-02, .carousel1_04_pagebuttons, .breadcrumb, .panel, .gallery_preview_box, .article_photo--left, #galleryContainer #ajaxbox, .jspager1 .btn, .jspager1 .jspager1_pagebtn, .jspager1 .jspager1_select,
.jspager1 .jspager1_perpage {
  border: 1px solid #aa8a57; }

.row {
  *zoom: 1; }
  .row:before, .row:after {
    content: ' ';
    display: table; }
  .row:after {
    clear: both; }

.carousel1-04_pagination {
  position: absolute; }

.carousel_holder, .carousel1-04, .carousel1-04_description, .carousel1_04_previous,
.carousel1_04_next {
  position: relative; }

.article_holder, .home .gallery_preview_links {
  display: block; }

.btn1-02, .btn1-02 > svg, .carousel1_04_pagebuttons, .carousel1_04_previous,
.carousel1_04_next, .footer2_leftnav2 a, .breadcrumb, .breadcrumb svg, .home .news_preview_box date, .home .artists_preview_box a, .jspager1, .jspager1 .jspager1_pagebtn, .jspager1 .btn_prev span,
.jspager1 .btn_next span,
.jspager1 .btn_first span,
.jspager1 .btn_last span, .jspager1 .btn_prev svg,
.jspager1 .btn_next svg,
.jspager1 .btn_first svg,
.jspager1 .btn_last svg, .jspager2 .jspager2_pagebtn, .jspager2 .btn_prev span,
.jspager2 .btn_next span,
.jspager2 .btn_first span,
.jspager2 .btn_last span, .jspager2 .btn_prev svg,
.jspager2 .btn_next svg,
.jspager2 .btn_first svg,
.jspager2 .btn_last svg, .jspager3 .jspager3_pagebtn, .jspager3 .btn_prev span,
.jspager3 .btn_next span,
.jspager3 .btn_first span,
.jspager3 .btn_last span, .jspager3 .btn_prev svg,
.jspager3 .btn_next svg,
.jspager3 .btn_first svg,
.jspager3 .btn_last svg, .jspager4 .jspager4_pagebtn, .jspager4 .btn_prev span,
.jspager4 .btn_next span,
.jspager4 .btn_first span,
.jspager4 .btn_last span, .jspager4 .btn_prev svg,
.jspager4 .btn_next svg,
.jspager4 .btn_first svg,
.jspager4 .btn_last svg, .jspager5 .jspager5_pagebtn, .jspager5 .btn_prev span,
.jspager5 .btn_next span,
.jspager5 .btn_first span,
.jspager5 .btn_last span, .jspager5 .btn_prev svg,
.jspager5 .btn_next svg,
.jspager5 .btn_first svg,
.jspager5 .btn_last svg {
  display: inline-block; }

.artists_preview,
.news_preview {
  display: inline; }

input, textarea, select, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button,
input [type="button"],
[type="reset"],
[type="submit"], .btn, .carousel_holder, .title--centered, .jspager1 .jspager1_pagebtn, .jspager2 .jspager2_pagebtn, .jspager3 .jspager3_pagebtn, .jspager4 .jspager4_pagebtn, .jspager5 .jspager5_pagebtn {
  margin: 0;
  padding: 0; }

.gallery_preview, .article_holder, .bonsai_gallery {
  margin-left: auto;
  margin-right: auto; }

.btn1-02, .carousel1-04_description, .bs4modal-title, .breadcrumb, .artists_preview,
.news_preview, .jspager1 .jspager1_pagebtnholder,
.jspager1 .jspager1_totalpagesholder,
.jspager1 .jspager1_jumptopageholder,
.jspager1 .jspager1_perpageholder,
.jspager1 .jspager1_prevnextholder, .jspager1 .jspager1_pagebtn, .jspager1 .btn, .jspager1 .jspager1_select,
.jspager1 .jspager1_perpage,
.jspager1 .jspager1_jump, .jspager2 .jspager2_pagebtnholder,
.jspager2 .jspager2_totalpagesholder,
.jspager2 .jspager2_perpageholder,
.jspager2 .jspager2_prevnextholder, .jspager2 .jspager2_pagebtn, .jspager2 .btn, .jspager2 .jspager2_select,
.jspager2 .jspager2_perpage, .jspager3 .jspager3_pagebtnholder,
.jspager3 .jspager3_totalpagesholder,
.jspager3 .jspager3_perpageholder,
.jspager3 .jspager3_prevnextholder, .jspager3 .jspager3_pagebtn, .jspager3 .btn, .jspager3 .jspager3_select,
.jspager3 .jspager3_perpage, .jspager4 .jspager4_totalpagesholder,
.jspager4 .jspager4_jumptopageholder,
.jspager4 .jspager4_perpageholder,
.jspager4 .jspager4_prevnextholder, .jspager4 .jspager4_pagebtn, .jspager4 .btn, .jspager4 .jspager4_select,
.jspager4 .jspager4_perpage, .jspager5 .jspager5_pagebtnholder,
.jspager5 .jspager5_totalpagesholder,
.jspager5 .jspager5_jumptopageholder,
.jspager5 .jspager5_perpageholder,
.jspager5 .jspager5_prevnextholder, .jspager5 .jspager5_pagebtn, .jspager5 .btn, .jspager5 .jspager5_select,
.jspager5 .jspager5_perpage {
  padding: 4px; }

.carousel1-04_description, .carousel1-04_pagination, .home .gallery_preview_links, .jspager2_holder, .jspager3_holder, .jspager4_holder, .jspager5_holder {
  text-align: center; }

.bonsai_stage--bg img, .artists_preview img, .news_preview img, .gallery_preview img, .article_holder img, #galleryContainer #ajaxbox img {
  display: block;
  width: 100%;
  /* optional */
  max-width: 100%;
  height: auto; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input, textarea, select {
  font-size: 100%;
  font-family: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto; }

.row {
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 20em) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto; }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4,
  .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,
  .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left; }
  .col-xs-12 {
    width: 100%; }
  .col-xs-11 {
    width: 91.66666667%; }
  .col-xs-10 {
    width: 83.33333333%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-8 {
    width: 66.66666667%; }
  .col-xs-7 {
    width: 58.33333333%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-5 {
    width: 41.66666667%; }
  .col-xs-4 {
    width: 33.33333333%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-2 {
    width: 16.66666667%; }
  .col-xs-1 {
    width: 8.33333333%; } }

@media (min-width: 30em) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto; }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4,
  .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,
  .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left; }
  .col-xs-12 {
    width: 100%; }
  .col-xs-11 {
    width: 91.66666667%; }
  .col-xs-10 {
    width: 83.33333333%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-8 {
    width: 66.66666667%; }
  .col-xs-7 {
    width: 58.33333333%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-5 {
    width: 41.66666667%; }
  .col-xs-4 {
    width: 33.33333333%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-2 {
    width: 16.66666667%; }
  .col-xs-1 {
    width: 8.33333333%; } }

@media (min-width: 37.5em) {
  .container {
    width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,
  .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
  .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; } }

@media (min-width: 50em) {
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto; }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,
  .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
  .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; } }

@media (min-width: 46.25em) {
  .container {
    width: 740px;
    margin-left: auto;
    margin-right: auto; }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4,
  .col-md-5, .col-md-6, .col-md-7, .col-md-8,
  .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; } }

@media (min-width: 64em) {
  .container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto; }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4,
  .col-md-5, .col-md-6, .col-md-7, .col-md-8,
  .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; } }

@media (min-width: 62em) {
  .container {
    width: 992px;
    margin-left: auto;
    margin-right: auto; }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4,
  .col-md-5, .col-md-6, .col-md-7, .col-md-8,
  .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; } }

@media (min-width: 75em) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4,
  .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
  .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; } }

.btn1-01, .btn1-02 {
  cursor: pointer; }

.btn {
  display: inline-block;
  font-size: 100%;
  line-height: 1.15; }

.btn--md {
  border-radius: 6px;
  height: 30px; }

.btn--lg {
  border-radius: 6px;
  height: 40px; }

.btn1-01 {
  color: #fff;
  padding: 4px 8px 4px 8px;
  /* trbl */
  border: 1px solid #000;
  background: #cc0000;
  background: -webkit-linear-gradient(top, #cc0000, #be0101);
  background: linear-gradient(to bottom, #cc0000, #be0101);
  text-shadow: 1px 1px 1px #be0101;
  display: inline-block; }
  .btn1-01:hover {
    background: none;
    background-color: #cc0000; }

.btn1-02 > svg {
  vertical-align: text-bottom;
  height: 18px;
  fill: #415e01; }

.btn1-02:hover {
  background-color: #4d3d29;
  color: #fff; }
  .btn1-02:hover > svg {
    fill: #fff; }

/* components/_menubar2.scss
=================================================*/
.menubar2 {
  display: block;
  position: relative; }
  .menubar2 .menubar2_mainItem {
    background-color: #666; }
    .menubar2 .menubar2_mainItem:hover {
      background-color: #ccc; }
  .menubar2 li {
    background-color: #666;
    padding: 10px 0px 10px 0px;
    text-align: center;
    position: relative; }
    .menubar2 li:hover {
      background-color: #ccc; }
  .menubar2 a {
    display: block;
    color: #fff; }
  @media (min-width: 30em) {
    .menubar2 .menubar2_mainItem {
      width: 20%; } }

.stage {
  background: #796041;
  background: -webkit-linear-gradient(top, #796041, #000000);
  background: linear-gradient(to bottom, #796041, #000000); }

.bonsai_stage--bg {
  min-height: 200px;
  height: 290px; }

.bonsai_stage--right {
  background-color: #000;
  position: relative; }
  @media (min-width: 20em) {
    .bonsai_stage--right > img {
      display: none; } }
  @media (min-width: 30em) {
    .bonsai_stage--right > img {
      display: block;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 2; } }

.carousel_holder {
  background-color: #fff;
  overflow: hidden;
  z-index: 1; }
  .carousel_holder:hover {
    z-index: 3; }
  @media (min-width: 20em) {
    .carousel_holder {
      width: 100%; } }
  @media (min-width: 30em) {
    .carousel_holder {
      width: 662px; } }

.carousel1-04:hover .carousel1-04_prevnext {
  visibility: visible; }

.carousel1_04_pagebuttons {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 4px;
  cursor: pointer; }

.carousel1_04_pagebuttons--active, .carousel1_04_pagebuttons:hover {
  background-color: #415e01;
  border: 1px solid #fff; }

.carousel1_04_items {
  height: 0;
  opacity: 0;
  transition: visibility 4s, opacity 0.5s ease-in; }

.carousel1_04_items--active {
  height: auto;
  visibility: visible;
  opacity: 1; }

.carousel1-04_description {
  z-index: 1; }

.carousel1-04_pagination {
  width: 100%;
  bottom: 15%;
  z-index: 3; }

.carousel1-04_prevnext {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  visibility: hidden;
  height: 60%;
  width: 100%;
  z-index: 2; }

.carousel1_04_previous,
.carousel1_04_next {
  background-color: #000;
  padding: 10px;
  height: 100%;
  cursor: pointer; }
  .carousel1_04_previous svg,
  .carousel1_04_next svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.carousel1_04_next {
  float: right; }

.carousel1_04_chevron {
  width: 24px;
  height: 24px;
  fill: #fff; }

/* footer2 */
.footer2 {
  background-color: #4d3d29; }
  .footer2 p {
    color: #d7d6a1; }
  .footer2 a:hover {
    text-decoration: none; }
  .footer2 h4 {
    color: #fff; }
  .footer2 hr {
    color: #372c1f; }

.footer2_copyright {
  text-align: center;
  display: block;
  color: #fdffdf; }

.footer2_segment1,
.footer2_segment2,
.footer2_segment3 {
  padding: 4px; }

/* footer2_li-article4 */
.footer2_li-article4_img-holder {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 6px; }
  .footer2_li-article4_img-holder > img {
    height: 100%; }

/* footer2_leftnav2 */
.footer2_leftnav2 a {
  font-size: 16px;
  font-size: 1rem;
  color: #d7d6a1; }

.footer2_leftnav2 > ul {
  margin-left: 6px;
  margin-right: 6px; }

.footer2_leftnav2 li {
  /* trbl */
  padding: 6px 6px 6px 0px;
  margin-bottom: 6px; }
  .footer2_leftnav2 li:first-of-type {
    /* trbl */
    border-bottom: 1px solid #000;
    padding: 0px 6px 6px 0px; }
  .footer2_leftnav2 li:last-of-type {
    border-bottom: none; }
  .footer2_leftnav2 li svg {
    width: 16px;
    height: 16px;
    fill: #fff;
    vertical-align: middle; }

.footer2_leftnav2_nav-title {
  font-weight: bold;
  color: #000; }

.footer2_leftnav2_img-holder {
  width: 20px;
  height: 20px;
  display: inline;
  float: left;
  margin-bottom: 4px;
  margin-right: 4px; }

@media (min-width: 20em) {
  .footer2 {
    padding: 0; }
  .footer2_li-article4_img-holder {
    float: none;
    clear: right;
    margin-right: auto;
    margin-left: auto; } }

@media (min-width: 37.5em) {
  .footer2 {
    padding: 6px 10px 6px 10px;
    /* trbl */ }
  .footer2_li-article4_img-holder {
    float: left;
    margin-right: 6px; } }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.animated.infinite {
  animation-iteration-count: infinite; }

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }

.bounceIn {
  animation-duration: 0.25s;
  animation-name: bounceIn; }

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }

.bounceOut {
  animation-duration: 0.75s;
  animation-name: bounceOut; }

.bs4modal-open {
  overflow: hidden; }

.bs4modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  overflow-y: scroll; }
  .bs4modal-open .bs4modal {
    overflow-x: hidden;
    overflow-y: auto; }

.bs4modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none; }
  .bs4modal.fade .bs4modal-dialog {
    transform: translate(0, -25%); }
  .bs4modal.show .bs4modal-dialog {
    transform: translate(0, 0); }

.bs4modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2)); }

.bs4modal-content {
  border-radius: 0.3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  -webkit-box-shadow: 2px 2px 5px 1px #666;
  -moz-box-shadow: 2px 2px 5px 1px #666;
  box-shadow: 2px 2px 5px 1px #666; }

.bs4modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000; }
  .bs4modal-backdrop.fade {
    opacity: 0; }
  .bs4modal-backdrop.show {
    opacity: 0.5; }

.bs4modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4px;
  border-bottom: 1px solid #aa8a57;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem; }
  .bs4modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto; }

.bs4modal-title {
  margin-bottom: 0; }

.bs4modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 8px; }
  .bs4modal-body img {
    width: 100%; }

.bs4modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
  border-top: 1px solid #aa8a57; }
  .bs4modal-footer > :not(:first-child) {
    margin-left: .25rem; }
  .bs4modal-footer > :not(:last-child) {
    margin-right: .25rem; }

.bs4modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 576px) {
  .bs4modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto; }
  .bs4modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2)); }
  .bs4modal-sm {
    max-width: 300px; } }

@media (min-width: 992px) {
  .bs4modal-lg {
    max-width: 800px; } }

.vcmodal_show {
  display: block; }

.vcmodal_hide {
  display: none; }

.breadcrumb {
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-box-shadow: inset 0px 0px 16px #bfba76;
  -moz-box-shadow: inset 0px 0px 16px #bfba76;
  box-shadow: inset 0px 0px 16px #bfba76;
  border-radius: 0px; }
  .breadcrumb a:hover {
    text-decoration: none; }
  .breadcrumb svg {
    cursor: pointer;
    vertical-align: text-bottom;
    fill: #4D3D29;
    width: 16px;
    height: 16px; }

/* pages/_all.scss
=================================================*/
/* Temp */
p,
a,
label {
  font-size: 16px;
  font-size: 1rem;
  line-height: 100%; }

h1,
h2 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.1; }

h5 {
  line-height: 1.1; }

hr {
  border: none;
  height: 1px;
  color: #aa8a57;
  /* old IE */
  background-color: #aa8a57;
  /* Modern Browsers */ }

.hr--primary {
  margin: 6px 8px 6px 8px;
  /* trbl */ }

blockquote {
  padding: 0;
  margin-top: 1%;
  margin-bottom: 1%;
  display: block; }

label,
span.bonsai-value,
blockquote,
small,
h4,
h5,
date,
p {
  color: #8c6239; }

summary {
  list-style: none; }

.panel_container {
  padding: 8px 8px; }

.panel {
  -webkit-box-shadow: inset 0px 0px 16px #bfba76;
  -moz-box-shadow: inset 0px 0px 16px #bfba76;
  box-shadow: inset 0px 0px 16px #bfba76;
  border-radius: 0px;
  margin-top: 2px;
  margin-bottom: 6px; }
  .panel:last-of-type {
    margin-bottom: 0; }

.panel_heading {
  position: relative; }

.panel_body {
  padding: 1px 8px; }

.title--centered {
  text-align: center; }

.artists_preview,
.news_preview {
  float: left;
  padding: 4px; }

.artists_preview_box,
.news_preview_box {
  border: 1px solid #aa8a57;
  padding: 6px; }

.gallery_preview_box {
  margin: 4px;
  padding: 6px;
  min-height: 154px;
  overflow: auto; }
  .gallery_preview_box a {
    text-decoration: underline; }
    .gallery_preview_box a:hover {
      text-decoration: none; }

.artists_preview_box a {
  text-decoration: underline; }
  .artists_preview_box a:hover {
    text-decoration: none; }

.article_holder {
  padding-bottom: 12px; }

.article_photo--left {
  padding: 6px;
  width: 35%;
  float: left;
  margin-right: 1%; }

@media (min-width: 20em) {
  .article_photo--left {
    width: 100%; } }

@media (min-width: 37.5em) {
  .article_photo--left {
    padding: 6px;
    width: 35%;
    float: left;
    margin-right: 1%; }
  p.articles {
    text-indent: 50px; } }

p.articles::first-letter {
  font-weight: bold; }

.home h3 {
  margin-bottom: 4px; }

.home .news_preview_box date {
  margin: 4px 0 2px 0;
  /* trbl */ }

.home .gallery_preview_links {
  margin-top: 4px; }

.home .artists_preview_box a {
  margin-top: 4px; }

.articles h3 {
  margin-bottom: 4px; }

.articles hr {
  margin: 6px 8px 6px 8px;
  /* trbl */
  color: #000; }

.artists h3 {
  margin-bottom: 4px; }

.artists hr {
  margin: 6px 8px 6px 8px;
  /* trbl */
  color: #000; }

/* pages/_gallery.scss
=================================================*/
.gallery h3 {
  margin-bottom: 4px; }

.bonsai_species a,
.bonsai_value a {
  cursor: pointer; }

.bonsai_value h4 {
  margin-top: 4px; }

.bonsai_species h4,
.bonsai_value h4 {
  margin-bottom: 4px; }

.bonsai_species h4,
.bonsai_value h4 {
  font-weight: bold; }

#gallery-placeholder {
  padding: 0px; }

#galleryContainer #ajaxbox {
  display: block;
  margin-bottom: 6px;
  padding: 6px; }

@media (min-width: 20em) {
  #galleryContainer .gridder {
    padding: none; } }

@media (min-width: 30em) {
  #galleryContainer .gridder {
    padding: 0 4px 0 4px;
    /* trbl */ } }

@media (min-width: 20em) {
  .jspager1 .jspager1_pagebtnholder,
  .jspager1 .jspager1_totalpagesholder,
  .jspager1 .jspager1_jumptopageholder,
  .jspager1 .jspager1_perpageholder,
  .jspager1 .jspager1_prevnextholder {
    text-align: center;
    margin-top: 4px; }
  .jspager1 .jspager1_totalpagesholder label,
  .jspager1 .jspager1_totalpagesholder p,
  .jspager1 .jspager1_totalpagesholder select {
    display: inline-block; }
  .jspager1 .jspager1_jumptopageholder .jspager1_jump {
    width: 20%;
    border: 1px solid #000; }
  .jspager1 .jspager1_prevnextholder button {
    display: inline-block;
    width: auto; } }

@media (min-width: 37.5em) {
  .jspager1 .jspager1_pagebtnholder,
  .jspager1 .jspager1_totalpagesholder,
  .jspager1 .jspager1_jumptopageholder,
  .jspager1 .jspager1_perpageholder,
  .jspager1 .jspager1_prevnextholder {
    float: left;
    margin-top: auto; }
  .jspager1 .jspager1_prevnextholder button {
    float: left;
    width: auto; }
  .jspager1 .jspager1_jumptopageholder .jspager1_jump {
    width: 60px; } }

.jspager1 .jspager1_pagebtnholder,
.jspager1 .jspager1_totalpagesholder,
.jspager1 .jspager1_jumptopageholder,
.jspager1 .jspager1_perpageholder,
.jspager1 .jspager1_prevnextholder {
  border: 1px solid #c3be7a; }

.jspager1 .btn > svg {
  fill: #415e01; }

.jspager1 .btn:hover {
  background-color: #4d3d29;
  color: #fff; }
  .jspager1 .btn:hover > svg {
    fill: #fff; }

.jspager1 .jspager1_pagebtn {
  background-color: #fff;
  color: #000; }
  .jspager1 .jspager1_pagebtn:hover {
    background-color: #4d3d29;
    color: #fff; }

.jspager1 .jspager1_pagebtn--active {
  background-color: #4d3d29;
  color: #fff; }

.jspager1 .jspager1_jumptopageholder .jspager1_jump {
  border: 1px solid #AA8A57; }

.jspager1_holder {
  padding-left: 4px; }

.jspager1 .jspager1_pagebtn {
  font-size: 100%;
  line-height: 1.15;
  cursor: pointer;
  height: 30px;
  vertical-align: middle; }

.jspager1 .btn {
  height: 30px;
  vertical-align: middle;
  cursor: pointer; }

.jspager1 .btn_prev svg,
.jspager1 .btn_next svg,
.jspager1 .btn_first svg,
.jspager1 .btn_last svg {
  vertical-align: text-bottom;
  height: 18px; }

.jspager1 .btn_prev svg,
.jspager1 .btn_first svg {
  margin-left: -4px; }

.jspager1 .btn_next svg,
.jspager1 .btn_last svg {
  margin-right: -4px; }

.jspager1 .jspager1_select,
.jspager1 .jspager1_perpage,
.jspager1 .jspager1_jump {
  vertical-align: middle;
  height: 30px; }

@media (min-width: 20em) {
  .jspager2 {
    display: block;
    width: 100%; }
    .jspager2 .jspager2_pagebtnholder,
    .jspager2 .jspager2_totalpagesholder,
    .jspager2 .jspager2_perpageholder,
    .jspager2 .jspager2_prevnextholder {
      text-align: center;
      margin-top: 4px; }
    .jspager2 .jspager2_totalpagesholder label,
    .jspager2 .jspager2_totalpagesholder p,
    .jspager2 .jspager2_totalpagesholder select {
      display: inline-block; }
    .jspager2 .jspager2_prevnextholder button {
      display: inline-block;
      width: auto; } }

@media (min-width: 37.5em) {
  .jspager2 {
    display: inline-block;
    width: auto; }
    .jspager2 .jspager2_pagebtnholder,
    .jspager2 .jspager2_totalpagesholder,
    .jspager2 .jspager2_perpageholder,
    .jspager2 .jspager2_prevnextholder {
      float: left;
      margin-top: auto; }
    .jspager2 .jspager2_prevnextholder button {
      float: left;
      width: auto; } }

.jspager2_items {
  color: #fff; }

.jspager2 {
  background-color: #1c1d22;
  color: #d5d5d5; }
  .jspager2 .jspager2_pagebtnholder,
  .jspager2 .jspager2_totalpagesholder,
  .jspager2 .jspager2_perpageholder,
  .jspager2 .jspager2_prevnextholder {
    border: 1px solid #303134; }
  .jspager2 .btn {
    color: #1c1d22;
    background: #fff;
    background: -webkit-linear-gradient(top, #fff, #e8e8e8);
    background: linear-gradient(to bottom, #fff, #e8e8e8);
    border: 1px solid #2c2d32; }
    .jspager2 .btn > svg {
      fill: #bf0101; }
    .jspager2 .btn:hover {
      background: #bf0101;
      background: -webkit-linear-gradient(top, #bf0101, #cc0001);
      background: linear-gradient(to bottom, #bf0101, #cc0001);
      color: #fff; }
      .jspager2 .btn:hover > svg {
        fill: #fff; }
  .jspager2 .jspager2_pagebtn {
    background: #fff;
    background: -webkit-linear-gradient(top, #fff, #e8e8e8);
    background: linear-gradient(to bottom, #fff, #e8e8e8);
    color: #1c1d22;
    border: 1px solid #000; }
    .jspager2 .jspager2_pagebtn:hover {
      background: #bf0101;
      background: -webkit-linear-gradient(top, #bf0101, #cc0001);
      background: linear-gradient(to bottom, #bf0101, #cc0001);
      color: #fff; }
  .jspager2 .jspager2_pagebtn--active {
    background: #bf0101;
    background: -webkit-linear-gradient(top, #bf0101, #cc0001);
    background: linear-gradient(to bottom, #bf0101, #cc0001);
    color: #fff; }
  .jspager2 .jspager2_select,
  .jspager2 .jspager2_perpage,
  .jspager2 .jspager2_jump {
    border: 1px solid #000; }

.jspager2_items > li {
  display: inline-block;
  color: #ccc;
  background-color: #000; }

.jspager2 .jspager2_pagebtn {
  font-size: 100%;
  line-height: 1.15;
  cursor: pointer;
  height: 30px;
  vertical-align: middle; }

.jspager2 .jspager2_pagebtn--active {
  background-color: green;
  color: #fff; }

.jspager2 .btn {
  height: 30px;
  vertical-align: middle;
  cursor: pointer; }

.jspager2 .btn_prev svg,
.jspager2 .btn_next svg,
.jspager2 .btn_first svg,
.jspager2 .btn_last svg {
  vertical-align: text-bottom;
  height: 18px; }

.jspager2 .btn_prev svg,
.jspager2 .btn_first svg {
  margin-left: -4px; }

.jspager2 .btn_next svg,
.jspager2 .btn_last svg {
  margin-right: -4px; }

.jspager2 .jspager2_select,
.jspager2 .jspager2_perpage {
  vertical-align: middle;
  height: 30px; }

@media (min-width: 20em) {
  .jspager3 {
    display: block;
    width: 100%; }
    .jspager3 .jspager3_pagebtnholder,
    .jspager3 .jspager3_totalpagesholder,
    .jspager3 .jspager3_perpageholder,
    .jspager3 .jspager3_prevnextholder {
      text-align: center;
      margin-top: 4px; }
    .jspager3 .jspager3_totalpagesholder label,
    .jspager3 .jspager3_totalpagesholder p,
    .jspager3 .jspager3_totalpagesholder select {
      display: inline-block; }
    .jspager3 .jspager3_prevnextholder button {
      display: inline-block;
      width: auto; } }

@media (min-width: 37.5em) {
  .jspager3 {
    display: inline-block;
    width: auto; }
    .jspager3 .jspager3_pagebtnholder,
    .jspager3 .jspager3_totalpagesholder,
    .jspager3 .jspager3_perpageholder,
    .jspager3 .jspager3_prevnextholder {
      float: left;
      margin-top: auto; }
    .jspager3 .jspager3_prevnextholder button {
      float: left;
      width: auto; } }

.jspager3_items {
  color: #fff; }

.jspager3 {
  background-color: #1c1d22;
  color: #d5d5d5; }
  .jspager3 .jspager3_pagebtnholder,
  .jspager3 .jspager3_totalpagesholder,
  .jspager3 .jspager3_perpageholder,
  .jspager3 .jspager3_prevnextholder {
    border: 1px solid #303134; }
  .jspager3 .btn {
    color: #1c1d22;
    background: #fff;
    background: -webkit-linear-gradient(top, #fff, #e8e8e8);
    background: linear-gradient(to bottom, #fff, #e8e8e8);
    border: 1px solid #2c2d32; }
    .jspager3 .btn > svg {
      fill: #bf0101; }
    .jspager3 .btn:hover {
      background: #bf0101;
      background: -webkit-linear-gradient(top, #bf0101, #cc0001);
      background: linear-gradient(to bottom, #bf0101, #cc0001);
      color: #fff; }
      .jspager3 .btn:hover > svg {
        fill: #fff; }
  .jspager3 .jspager3_pagebtn {
    background: #fff;
    background: -webkit-linear-gradient(top, #fff, #e8e8e8);
    background: linear-gradient(to bottom, #fff, #e8e8e8);
    color: #1c1d22;
    border: 1px solid #000; }
    .jspager3 .jspager3_pagebtn:hover {
      background: #bf0101;
      background: -webkit-linear-gradient(top, #bf0101, #cc0001);
      background: linear-gradient(to bottom, #bf0101, #cc0001);
      color: #fff; }
  .jspager3 .jspager3_pagebtn--active {
    background: #bf0101;
    background: -webkit-linear-gradient(top, #bf0101, #cc0001);
    background: linear-gradient(to bottom, #bf0101, #cc0001);
    color: #fff; }
  .jspager3 .jspager3_select,
  .jspager3 .jspager3_perpage,
  .jspager3 .jspager3_jump {
    border: 1px solid #000; }

.jspager3_items > li {
  display: inline-block;
  color: #ccc;
  background-color: #000; }

.jspager3 .jspager3_pagebtn {
  font-size: 100%;
  line-height: 1.15;
  cursor: pointer;
  height: 30px;
  vertical-align: middle; }

.jspager3 .jspager3_pagebtn--active {
  background-color: green;
  color: #fff; }

.jspager3 .btn {
  height: 30px;
  vertical-align: middle;
  cursor: pointer; }

.jspager3 .btn_prev svg,
.jspager3 .btn_next svg,
.jspager3 .btn_first svg,
.jspager3 .btn_last svg {
  vertical-align: text-bottom;
  height: 18px; }

.jspager3 .btn_prev svg,
.jspager3 .btn_first svg {
  margin-left: -4px; }

.jspager3 .btn_next svg,
.jspager3 .btn_last svg {
  margin-right: -4px; }

.jspager3 .jspager3_select,
.jspager3 .jspager3_perpage {
  vertical-align: middle;
  height: 30px; }

@media (min-width: 20em) {
  .jspager4 {
    display: block;
    width: 100%; }
    .jspager4 .jspager4_totalpagesholder,
    .jspager4 .jspager4_jumptopageholder,
    .jspager4 .jspager4_perpageholder,
    .jspager4 .jspager4_prevnextholder {
      text-align: center;
      margin-top: 4px; }
    .jspager4 .jspager4_totalpagesholder label,
    .jspager4 .jspager4_totalpagesholder p,
    .jspager4 .jspager4_totalpagesholder select {
      display: inline-block; }
    .jspager4 .jspager4_prevnextholder button {
      display: inline-block;
      width: auto; } }

@media (min-width: 37.5em) {
  .jspager4 {
    display: inline-block;
    width: auto; }
    .jspager4 .jspager4_totalpagesholder,
    .jspager4 .jspager4_jumptopageholder,
    .jspager4 .jspager4_perpageholder,
    .jspager4 .jspager4_prevnextholder {
      float: left;
      margin-top: auto; }
    .jspager4 .jspager4_prevnextholder button {
      float: left;
      width: auto; } }

.jspager4_items {
  color: #fff; }

.jspager4 {
  background-color: #1c1d22;
  color: #d5d5d5; }
  .jspager4 .jspager4_totalpagesholder,
  .jspager4 .jspager4_perpageholder,
  .jspager4 .jspager4_prevnextholder {
    border: 1px solid #303134; }
  .jspager4 .btn {
    color: #1c1d22;
    background: #fff;
    background: -webkit-linear-gradient(top, #fff, #e8e8e8);
    background: linear-gradient(to bottom, #fff, #e8e8e8);
    border: 1px solid #2c2d32; }
    .jspager4 .btn > svg {
      fill: #bf0101; }
    .jspager4 .btn:hover {
      background: #bf0101;
      background: -webkit-linear-gradient(top, #bf0101, #cc0001);
      background: linear-gradient(to bottom, #bf0101, #cc0001);
      color: #fff; }
      .jspager4 .btn:hover > svg {
        fill: #fff; }
  .jspager4 .jspager4_select,
  .jspager4 .jspager4_perpage,
  .jspager4 .jspager4_jump {
    border: 1px solid #000; }

.jspager4_items > li {
  display: inline-block;
  background-color: #000; }

.jspager4 .jspager4_pagebtn {
  font-size: 100%;
  line-height: 1.15;
  cursor: pointer;
  height: 30px;
  vertical-align: middle; }

.jspager4 .jspager4_pagebtn--active {
  background-color: green;
  color: #fff; }

.jspager4 .btn {
  height: 30px;
  vertical-align: middle;
  cursor: pointer; }

.jspager4 .btn_prev svg,
.jspager4 .btn_next svg,
.jspager4 .btn_first svg,
.jspager4 .btn_last svg {
  vertical-align: text-bottom;
  height: 18px; }

.jspager4 .btn_prev svg,
.jspager4 .btn_first svg {
  margin-left: -4px; }

.jspager4 .btn_next svg,
.jspager4 .btn_last svg {
  margin-right: -4px; }

.jspager4 .jspager4_select,
.jspager4 .jspager4_perpage {
  vertical-align: middle;
  height: 30px; }

@media (min-width: 20em) {
  .jspager5 {
    display: block;
    width: 100%; }
    .jspager5 .jspager5_pagebtnholder,
    .jspager5 .jspager5_totalpagesholder,
    .jspager5 .jspager5_jumptopageholder,
    .jspager5 .jspager5_perpageholder,
    .jspager5 .jspager5_prevnextholder {
      text-align: center;
      margin-top: 4px; }
    .jspager5 .jspager5_totalpagesholder label,
    .jspager5 .jspager5_totalpagesholder p,
    .jspager5 .jspager5_totalpagesholder select {
      display: inline-block; }
    .jspager5 .jspager5_prevnextholder button {
      display: inline-block;
      width: auto; } }

@media (min-width: 37.5em) {
  .jspager5 {
    display: inline-block;
    width: auto; }
    .jspager5 .jspager5_pagebtnholder,
    .jspager5 .jspager5_totalpagesholder,
    .jspager5 .jspager5_jumptopageholder,
    .jspager5 .jspager5_perpageholder,
    .jspager5 .jspager5_prevnextholder {
      float: left;
      margin-top: auto; }
    .jspager5 .jspager5_prevnextholder button {
      float: left;
      width: auto; } }

.jspager5_items {
  color: #fff; }

.jspager5 {
  background-color: #1c1d22;
  color: #d5d5d5; }
  .jspager5 .jspager5_pagebtnholder,
  .jspager5 .jspager5_totalpagesholder,
  .jspager5 .jspager5_perpageholder,
  .jspager5 .jspager5_prevnextholder {
    border: 1px solid #303134; }
  .jspager5 .btn {
    color: #1c1d22;
    background: #fff;
    background: -webkit-linear-gradient(top, #fff, #e8e8e8);
    background: linear-gradient(to bottom, #fff, #e8e8e8);
    border: 1px solid #2c2d32; }
    .jspager5 .btn > svg {
      fill: #bf0101; }
    .jspager5 .btn:hover {
      background: #bf0101;
      background: -webkit-linear-gradient(top, #bf0101, #cc0001);
      background: linear-gradient(to bottom, #bf0101, #cc0001);
      color: #fff; }
      .jspager5 .btn:hover > svg {
        fill: #fff; }
  .jspager5 .jspager5_pagebtn {
    background: #fff;
    background: -webkit-linear-gradient(top, #fff, #e8e8e8);
    background: linear-gradient(to bottom, #fff, #e8e8e8);
    color: #1c1d22;
    border: 1px solid #000; }
    .jspager5 .jspager5_pagebtn:hover {
      background: #bf0101;
      background: -webkit-linear-gradient(top, #bf0101, #cc0001);
      background: linear-gradient(to bottom, #bf0101, #cc0001);
      color: #fff; }
  .jspager5 .jspager5_pagebtn--active {
    background: #bf0101;
    background: -webkit-linear-gradient(top, #bf0101, #cc0001);
    background: linear-gradient(to bottom, #bf0101, #cc0001);
    color: #fff; }
  .jspager5 .jspager5_select,
  .jspager5 .jspager5_perpage,
  .jspager5 .jspager5_jump {
    border: 1px solid #000; }

.jspager5_items > li {
  display: inline-block;
  background-color: #000; }

.jspager5 .jspager5_pagebtn {
  font-size: 100%;
  line-height: 1.15;
  cursor: pointer;
  height: 30px;
  vertical-align: middle; }

.jspager5 .jspager5_pagebtn--active {
  background-color: green;
  color: #fff; }

.jspager5 .btn {
  height: 30px;
  vertical-align: middle;
  cursor: pointer; }

.jspager5 .btn_prev svg,
.jspager5 .btn_next svg,
.jspager5 .btn_first svg,
.jspager5 .btn_last svg {
  vertical-align: text-bottom;
  height: 18px; }

.jspager5 .btn_prev svg,
.jspager5 .btn_first svg {
  margin-left: -4px; }

.jspager5 .btn_next svg,
.jspager5 .btn_last svg {
  margin-right: -4px; }

.jspager5 .jspager5_select,
.jspager5 .jspager5_perpage {
  vertical-align: middle;
  height: 30px; }
