%mainbg {
  background-color: #efe6bb;
}

%lrbg1 {
  background-color: #c3be7a;
}

%lrbg2 {
  background-color: #fdffdf;
}

%lrbg3 {
  background-color: #fff;
}

%font_color--primary { // also used in links
  color: #8c6239;
}

%link_color--hover {
  color: #415e01; // also used in green fonts
}

%border--primary {
  border: 1px solid #aa8a57;
}