@import url('https://fonts.googleapis.com/css?family=Caudex:400|Cinzel');

%caudex--regular {
  font-family: "Caudex", serif;
}

%cinzel--regular {
  font-family: "Cinzel", serif;
}

// for thinner fonts
%font_weight--500 {
  font-weight: 500;
}

// 
// ==================================================/
// body {
//   @extend %caudex--regular;
// }

// h1, h2 {
//   @extend %cinzel--regular;
// }